</<!DOCTYPE html>
<html ng-app="christianservicesApp">
  <head>
    <title>Teste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/js/foundation/css/foundation.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <script src="js/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/foundation/js/foundation/foundation.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/angular/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/angular-route/angular-route.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/angular-mocks/angular-mocks.js" type="text/javascript" charset="utf-8"></script>

    <script src="/app/controllers/main.js" type="text/javascript" charset="utf-8"></script>  
    <script src="/app/app.js" type="text/javascript" charset="utf-8"></script>
      
  </head>
  <body>
    <div ng-view></div>
  </body>
  </html>