</<!DOCTYPE html>
<html ng-app="christianservicesApp">
  <head>
    <title>Teste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/js/foundation/css/foundation.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

    <script src="js/modernizr/modernizr.js"></script>
    <script src="js/jquery/dist/jquery.js"></script>
    <script src="js/fastclick/lib/fastclick.js"></script>
    <script src="js/foundation/js/foundation.min.js"></script>

    <script src="/js/angular/angular.js"></script>
    <script src="/js/angular-route/angular-route.js"></script>
    <script src="/js/angular-mocks/angular-mocks.js"></script>

    <script src="/app/controllers/main.js" type="text/javascript" charset="utf-8"></script>  
    <script src="/app/app.js" type="text/javascript" charset="utf-8"></script>

  </head>
  <body>
    <ng-view></ng-view>
    </div>
  </body>
  </html>
